html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    position: fixed;
    font-family: sans-serif;
    color: #333;
}

#view {
    margin-top: 24px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px 0;
    height: 72px;
    text-align: center;
}

.buttons {
    margin-top: 8px;
}

.label {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    vertical-align: baseline;
}

.value {
    font-size: 24px;
}

button {
    font-size: 18px;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 0 4px;
    width: 96px;
}

@media (max-width: 512px) {
    button {
        font-size: 14px;
        width: 72px;
    }
}
